<div class="sharing">
  {% if site.jiathis %}
    <!-- JiaThis Button BEGIN -->
    <div id="ckepop">
      <span class="jiathis_txt">分享到：</span>
      <a class="jiathis_button_icons_1"></a>
      <a class="jiathis_button_icons_2"></a>
      <a class="jiathis_button_icons_3"></a>
      <a class="jiathis_button_icons_4"></a>
      <a class="jiathis_button_icons_5"></a>
      <a class="jiathis_button_icons_7"></a>
      <a class="jiathis_button_icons_8"></a>
      <a class="jiathis_button_icons_9"></a>
      <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"></a>
      <a class="jiathis_counter_style"></a>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1340085332390649" charset="utf-8"></script>
    </div>
    <!-- JiaThis Button END -->
    <p />
  {% endif %}
  {% if site.twitter_tweet_button %}
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
  {% endif %}
  {% if site.google_plus_one %}
  <div class="g-plusone" data-size="{{ site.google_plus_one_size }}"></div>
  {% endif %}
  {% if site.facebook_like %}
    <div class="fb-like" data-send="true" data-width="450" data-show-faces="false"></div>
  {% endif %}
</div>
