article
  h2
    margin-top: 0

  .more-link
    color: #3FB322
    padding-left: 30px
    margin-top: 20px
    position: relative

    &:before
      position: absolute
      left: 0
      content: '\e127'
      font-family: 'Glyphicons Halflings'

  .post
    padding-bottom: 30px
    border-bottom: 1px solid #ddd

  .post-title
    padding: 5px
    border-bottom: 2px solid #ddd
    i
      color: #DFF0D8
  .post-content
    line-height: 2

    h1, h2, h3, h4
      margin: 30px 0

    img
      max-width: 100%

  .pager li
    margin: 0 20px

.meta
  padding: 15px 0
  color: #999
  div
    display: inline-block
    margin-right: 20px
  a
    color: #999
  i
    margin-right: 2px
