article.post
  padding: 30px 0
  border-bottom: 1px solid #ddd

  h2
    margin-top: 0

  .meta
    float: right
    icon
      color: #999

  .more-link
    color: #3FB322
    padding-left: 30px
    margin-top: 20px
    position: relative
    display: block

    &:before
      position: absolute
      left: 0
      content: '\e127'
      font-family: 'Glyphicons Halflings'

.post-title
  margin-bottom: 30px
  padding: 5px
  border-bottom: 2px solid #ddd
  i
    color: #DFF0D8
.post-content
  line-height: 2
