<div class="meta text-muted">
  <div class="date">
    <i class="glyphicon glyphicon-calendar"></i>
    <%= article.date.strftime("%Y-%m-%d") %>
  </div>
  <div class="tags">
    <i class="glyphicon glyphicon-tags"></i>
    <% article.tags.each do |tag| %>
      <%= link_to tag, tag_path(tag) %>
    <% end %>
  </div>
  <% if  data.site.disqus_short_name and data.site.disqus_show_comment_count == true and !current_article %>
    <div class="comments">
      <i class="glyphicon glyphicon-comment"></i>
      <a href="<%= article.url %>#disqus_thread">Comments</a>
    </div>
  <% end %>
</div>

