<div class="meta text-muted">
  <div class="date">
    <i class="glyphicon glyphicon-calendar"></i>
    <abbr class="timeago" title="<%= article.date.iso8601 %>"><%= article.date.strftime("%F %R") %></abbr>
  </div>
  <div class="comments">
    <i class="glyphicon glyphicon-comment"></i>
    <span class="ds-thread-count" data-thread-key="<%= article.url %>" data-count-type="comments"></span>
  </div>
  <div class="tags">
    <i class="glyphicon glyphicon-tags"></i>
    <%= article.tags.map {|tag| link_to tag, tag_path(tag) }.join(', ') %>
  </div>
</div>

