<section class="sharing">
  <% if data.site.baidu_share %>
    <div class="bdsharebuttonbox pull-right"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
  <% end %>
  <div class="addthis_toolbox addthis_default_style pull-left">
    <% if data.site.facebook_like %>
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <% end %>

    <% if data.site.twitter_tweet_button %>
      <a class="addthis_button_tweet"></a>
    <% end %>

    <% if data.site.google_plus_one %>
      <a class="addthis_button_google_plusone" g:plusone:size="<%= data.site.google_plus_one_size %>"></a>
    <% end %>

    <a class="addthis_counter addthis_pill_style"></a>
  </div>
</section>

<% content_for :js_block do %>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=<%= data.site.addthis_profile_id %>"></script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":["mshare","weixin","tsina","qzone","tqq","renren","kaixin001"],"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"2","bdPos":"right","bdTop":"150"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<% end %>
