{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
  <div class="content-container">
    {% unless page.banner == false %}
      {% include banner.html %}
    {% endunless %}
    <div id="content">
      <div> {{ content | expand_urls: root_url }} </div>
    </div>
    <aside class="sidebar">
      {% if site.blog_index_asides.size %}
        {% include_array blog_index_asides %}
      {% else %}
        {% include_array default_asides %}
      {% endif %}
    </aside>
    <span class="toggle-sidebar"></span>
  </div>
  <footer id="footer" class="content">{% include footer.html %}</footer>
  {% include after_footer.html %}
</body>
</html>
