---
layout: default
single: true
---

<div>
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">{% include article.html %}</article>
  {% unless page.sharing == false %}
    {% include post/sharing.html %}
  {% endunless %}
  {% if site.disqus_short_name and page.comments == true %}
  <section id="comment">
      <h1 class="title">Comments</h1>
      <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
  {% endif %}
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
